<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=yes">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css"
        integrity="sha256-0mhswpc4tUm8b+EHmWyk817AlGI+X5NmVsKbJkQ342c=" crossorigin="anonymous" />
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
        crossorigin="anonymous" /> -->
        <style>
            body { background: whitesmoke; }
        </style>
        <meta charset="utf-8">
        {{ bokeh_css }}
        {{ bokeh_js }}
        <style>
            {% include "styles.css" %}
        </style>
    </head>
    <body class="centered">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=yes">
        <h1><center>Machine Learning Tool</center></h1>
        {{ plot_div|indent(8) }}
        {{ plot_script|indent(8) }}
        <footer class="footer">Created for University of California - Irvine </footer>
    </body>
</html>