h1 {
    padding-bottom: 10px;
    margin: 1.5em 0 1.5em 0;
    color: black;
    font-family: 'times';
    font-size: 2em;
    text-transform: uppercase;
}
.bk-root {
    z-index: 2;
    display: inherit;
    padding: 20px;
    font-family: 'times';
    position: relative;
    font-size: 12pt;
    width: 100%;
    min-height: auto;
    background-color: whitesmoke;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    
}
.bk-root .bk-widget-box {
    overflow: visible;
    padding: 10.1px 15px;
}

.bk-root .bk-widget label {
    margin-bottom: 2px;
}

.bk-root .bk-widget select {
    min-width: 50%;
}
.bk-root .bk-widget-form-input {
    -moz-appearance: none;
	  font-family: 'times';
    font-size: 13pt;
    display: block;
    padding: 0;
    height: 30px;
    color: whitesmoke;
    background-color: dodgerblue;
    border: 1px solid #ccc;
    border-radius: 40px;
    border-color: whitesmoke;
}
.bk-root .bk-bs-btn-default.bk-bs-active{
    color: whitesmoke;
    background-color: dodgerblue;
    border-color: whitesmoke;
    -webkit-appearance: none;
    font-size: 14px;
}

.bk-root .bk-bs-btn-default {
    color: black;
    background-color: whitesmoke;
    border-color: #ccc;
    margin-top: 17px;
    font-size: 14px;
    
}

.bk-root .bk-tabs-header .bk-tab.bk-active {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
    border-width: 0 0 1px 0;
    border-radius: 0 0 0 0;
}

.bk-root .bk-tabs-header.bk-above .bk-tab {
    font-size: 17px;
    border-width: 0 0 1px 0;
    border-radius: 4px 4px 0 0 ;
    border-color: dodgerblue;
}
/* Tab sizes */

.bk-root .bk-tabs-header .bk-tab {
    width:100%;
    white-space: nowrap;
    cursor: pointer;
    color: black;
}
/* .bk-root .bk-tabs-header.bk-left .bk-tab {
    border-width: 0 0 0px 0;
    border-radius: 0 0 0 0px;
    text-align: left;
} */
.bk-root .bk-tabs-header .bk-tab:hover {
    background-color: dodgerblue;
    border-color: dodgerblue;
    transition: background-color 0.5s;
    transition: color 0.5s;
    color: white;
}

.bk-plot-wrapper table {
    margin: 0 auto;
}
.centered {
      display : block;
      margin : auto auto;
      text-align: center;
      width: max-content;
      position: relative;
      height: 100%;
      border-color: black;
      }

.bk-root .bk-data-table {
    display: block; 
    box-sizing: content-box;
    font-size: 13px;
    background-color: whitesmoke;
    border-collapse: collapse; 
    border-spacing: 0;
}
div.chart_div table {
    width: auto;
    margin: 0 auto !important;
}
.bk-root .bk-input {
    display: inline-block;
    width: 300px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    min-height: 31px;
    padding: 0 12px;
    background-color: #fff;
}

.slick-cell {
            background-color: whitesmoke !important;
            background-image: none !important;
          }

.bk-root .slick-header-column.ui-state-default {
    position: relative;
    display: inline-block;
    box-sizing: content-box !important;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 10px;
    border: 1px solid white;
    background: whitesmoke;
    /* opacity: 0.5; */
    color: black;
    border-left: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.bk-root .bk-btn {
            height: 100%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            cursor: pointer;
            padding: 6px 12px;
            font-size: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
            outline: 0;
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
}
        
.bk-root .bk-btn-default {
    color: black;
    background-color: none;
    border-color: white;
}
.bk-root .bk-btn-default:hover {
    background-color: dodgerblue;
    border-color: white;
    color: white;
    transition: background-color 0.5s;
    transition: color 0.5s;
}
.bk-root .bk-btn-default.bk-active {
    background-color: dodgerblue;
    border-color: white;
    color: white;
}

.custom_slider {
    background-color: whitesmoke;
    color: black;
    width: 200px;
    }
    
.custom_slider .bk-noUi-target{
    background:whitesmoke;
    }
    
.custom_slider .bk-noUi-connect {
    background-color: dodgerblue !important;
    }
    
.custom_slider .bk-noUi-handle {
    background:white;
    }
.content{
    height: 60px;
    width: 100%;
    color: black;
    text-align: center;
    position: absolute;
}
body {
    padding-bottom: 40px;
    background-color: white;
}
.bk-root .bk-input-group input[type="checkbox"] + span, .bk-root .bk-input-group input[type="radio"] + span {
    position: relative;
    top: 0px;
    margin-left: 4px;
}
footer {
    padding-top: 10px;
    margin: 1.5em 0 1.5em 0;
    color: black;
    font-family: 'times';
    font-size: 16px;
    /* text-transform: uppercase; */
}

#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: rgb(61, 158, 255);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: sticky;
    z-index: 9;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: dodgerblue;
    color: #fff;
    z-index: 9;
}
#toast #desc{
    color: #fff;
    z-index: -1;
    padding: 16px;
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    z-index: 9;
    position: sticky;
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}